@import url('https://fonts.google.com/specimen/Open+Sans');
@import url('https://fonts.google.com/specimen/Poppins');

*{
    text-decoration: none; 
    margin: 0;
    font-family: 'Poppins';
    box-sizing: border-box
}

/* #region Mobil design */

body{
    background-image: url(../IMG/bg-flip.png);
    
}

.br-mobile{
    display: static;
}

.desk-h3{
    display: none;
}

header{
    background-color: #fff;
    width: 100%;
    display: inline-block;
    height: 100px;
    
}

header .header-brand{
    font-size: 28px;
    font-weight: 400;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    padding-top: 30px;
} 

nav{
    display: none;
}

.per-banner{

    width: 100%;
    height: calc(45vh - 100px);
    background-image: url(../IMG/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}



.per-banner h1{
    font-size: 36px;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #111;
    text-align: center;
    
} 

.per-banner h2{
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-align: center;
    
} 

.banner-btn{
    display: none;
}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
    margin: 16px 16px 0;
    width: calc(100%-32px);
    height: 100px;
    background-color: #315343;
}

.box-1 h3,.box-2 h3,.box-3 h3,.box-4 h3,.box-5 h3,.box-6 h3{
    font-size: 28px;
    font-weight: 300;
    padding-top: 28px;
    line-height: 40px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

.produkt-menu{
    display: none;
}

.webshop-btn{
    display: none;
}

.historie-section, .udfordringer-section, .kursus-section{
    display: none;
}

footer{
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #A16D4E;
} 

.footer1{
    color: #fff;
    display: inline-block;
}

.footer1 img{
    float: left;
}

.footer1 h2{
    font-size: 20px;
    font-weight: 400;
}

.footer1 h3{
    font-size: 16px;
    font-weight: 300;
}

.footer2{
    color: #fff;
}

.footer2 h2{
    font-size: 20px;
    font-weight: 400;
}

.footer2 h3{
    font-size: 16px;
    font-weight: 300;
}

.footer3{
    color: #fff;
    display: inline-block;
}

.footer3 img{
    float: left;
}

.footer3 h2{
    font-size: 20px;
    font-weight: 400;
}

.footer3 h3{
    font-size: 16px;
    font-weight: 300;
}



/* #endregion */ 

/* #region Desktop design */


@media only screen and (min-width: 900px) {


    .br-mobile{
        display: none;
    }

    .desk-h3{
        display: static;
    }

    header .header-brand{
        font-weight: 400;
        font-size: 30px;
        color: #111;
        text-align: left;
        padding-left: 140px;
        float: left;
    } 



    header nav{
        display: block;
        float: left;
    } 

    header nav ul{
        width: 100%;
        list-style: none;
        margin: 12% 0 0 230%;
    }

    header nav ul li{
        display: inline;
        
    }

    header nav ul li a{ 
        color: #232A2D;
        font-size: 14px;
        font-weight: 500; 
        text-decoration: none; 
        padding-right: 3%;
    } 
    
    header nav ul li a:hover{
        border-bottom: 1px  #232A2D solid;
    }




    .per-banner{
        height: 800px;
    }
    
    .per-banner h1{
        font-size: 45px;
        font-weight: 500;
        padding-top: 250px;
        text-align: left;
        padding-left: 100px;
    } 
    
    .per-banner h2{
        font-size: 18px;
        text-align: left;
        padding-left: 100px;
    } 

    .banner-btn{
        display: block;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        margin-left: 100px;
        margin-top: 40px;
        border:2px solid #315343;
        background-color: #315343;
        color: #EEF9FD;
    }

    .banner-btn:hover{
        background-color: #fff;
        color: #315343;
        border:3px solid #315343;
    }

    .banner-btn:active{
        transform: scale(1.1);
    }

    .mobil-menu{
        display: none;
    }

    .produkt-menu{
        width: 100%;
        height: 500px;
        display: flex;
        padding: 5% 0 0 22%;
        
    }

    /* Slideshow af produkter */

    .slideshow-container {
        max-width: 1000px;
        height: 600px;
        position: relative;
        margin: auto;
      }

      .mySlides {
        display: none;
        
      } 

      img{
          vertical-align: middle;
      } 

      .inline {
   
        float: left;
        width: 33.333333%;
    }


      .prev, .next {
        cursor: pointer;
        position: relative;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      } 

      .next {
        right: -100px;
        border-radius: 3px 0 0 3px;
      }

      .prev{
          left: -100px;
          border-radius: 3px 0 0 3px;
      }

      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      } 



      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }

      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }




    .produkt1{
        padding-right: 10%;
    }

    .produkt2{
        padding-right: 10%;
    }

    .produkt-menu h2{
        font-size: 28px;
        font-weight: 400;
        color: #111;
        padding-bottom: 20px;
    }

    .produkt-menu h3{
        font-size: 16px;
        font-weight: 400;
        color: #111;
        line-height: 23px;
        padding-bottom: 20px;
    }

    .produkt-btn{
        display: block;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        border:3px solid #315343;
        background-color: #EEF9FD;
        color: #315343;
    }



    .til-webshop-btn{
        display: block;
        width: 300px;
        height: 45px;
        border-radius: 5px;
        font-size: 16px;
        border:3px solid #315343;
        background-color: #315343;
        color: #EEF9FD;
        
    }

    .webshop-btn{
        display: block;
        width: 100%;
        height: 100px;
        padding-left: 42%;
    }

    .historie-section{
        display: block;
        width: 100%;
        height: 300px;
        margin-top: 3%;
        
    }

    .historie-tekst{
        color: #111;
        text-align: left;
        float: right;
        padding-right: 5%;
    }

    .historie-tekst h2{
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .historie-tekst h3{
        font-size: 16px;
        font-weight: 400;
    }

    .historie-billede{
        padding: 2% 0 0 10%;
    }

    
    

    .udfordringer-section{
        display: block;
        width: 100%;
        height: 300px;
        margin-top: 3%;
        
    }

    .udfordringer-tekst{
        color: #111;
        text-align: left;
        float: left;
        padding-left: 10%;
    }

    .udfordringer-tekst h2{
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .udfordringer-tekst h3{
        font-size: 16px;
        font-weight: 400;
    }

    .udfordringer-billede{
        padding: 3% 5% 0 0;
        float: right;
    }
  


    .kursus-section{
        display: block;
        width: 100%;
        height: 350px;
        margin-top: 3%;
        
    }

    .kursus-tekst{
        color: #111;
        text-align: left;
        float: right;
        padding-right: 10%;
        padding-top: 5%;
    }

    .kursus-tekst h2{
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .kursus-tekst h3{
        font-size: 16px;
        font-weight: 400;
    }

    .kursus-video{
        padding: 2% 0 0 10%;
    }



    .read-more-btn{
        display: inline-block;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        border:3px solid #315343;
        background-color: #315343;
        color: #EEF9FD;
        margin-right: 5%;
    }

    .kontakt-btn{
        display: inline-block;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        border:3px solid #315343;
        background-color: #EEF9FD;
        color: #315343;
        
    }

    footer{
        width: 100%;
        height: 300px;
        background-color: #A16D4E;
    }

    .facebook, .mail, .youtube{
        display: none;
    }

    footer h2{
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        padding-bottom: 5%;
    }

    footer h3{
        font-weight: 300;
        font-size: 16px;
        color: #fff;
    }

    .footer1{
        width: 20%;
        float: left;
        display: inline-block;
        margin-left: 10%;
    }

    .footer1 img{
        float: left;
    }

    .footer2{
        width: 20%;
        display: inline-block;
        margin-left: 10%;
    }

    .footer3{
        width: 20%;
        float: right;
        display: inline-block;
        margin-right: 10%;
    }

    .footer3 img{
        float: left;
        
    }


}
/* #endregion */