@import url('https://fonts.google.com/specimen/Open+Sans');

*{
    text-decoration: none; 
    margin: 0;
}

/* #region Mobil design */

body{
    background-color: grey;
}

header{
    background-color: lightgrey;
    width: 100%;
    height: 100px;
}

header .header-brand{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    padding-top: 30px;
} 

nav{
    display: none;
}

.per-banner{
    width: 100%;
    height: calc(45vh - 100px);
    background-image: url(../IMG/wood-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.per-banner h2{
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 800;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
} 

.per-banner h1{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
} 

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
    margin: 16px 16px 0;
    width: calc(100%-32px);
    height: 100px;
    background-color: lightblue;
}

.box-1 h3,.box-2 h3,.box-3 h3,.box-4 h3,.box-5 h3,.box-6 h3{
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 300;
    padding-top: 28px;
    line-height: 40px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

footer{
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: lime;
} 

.social-media{
    float: left;
    
}  

.facebook{
    padding-right: 65px;
}

.mail{
    padding-right: 65px;
}

/* #endregion */ 

/* #region Desktop design */

/* #endregion */