@import url('https://fonts.google.com/specimen/Open+Sans');

*{
    text-decoration: none; 
    margin: 0;
}

/* #region Mobil design */

body{
    background-image: url(../IMG/bg-flip.png);
}

header{
    background-color: lightgrey;
    width: 100%;
    height: 100px;
}

header .header-brand{
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 900;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    padding-top: 30px;
} 

nav{
    display: none;
}

.per-banner{
    width: 100%;
    height: calc(45vh - 100px);
    background-image: url(../IMG/wood-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.per-banner h1{
    font-family: 'Open Sans';
    font-size: 36px;
    font-weight: 800;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
} 

.per-banner h2{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
} 

.banner-btn{
    display: none;
}

.box-1,.box-2,.box-3,.box-4,.box-5,.box-6{
    margin: 16px 16px 0;
    width: calc(100%-32px);
    height: 100px;
    
}

.box-1 h3,.box-2 h3,.box-3 h3,.box-4 h3,.box-5 h3,.box-6 h3{
    font-family: 'Open Sans';
    font-size: 28px;
    font-weight: 300;
    padding-top: 28px;
    line-height: 40px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

footer{
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: lime;
} 

.social-media{
    float: left;
    
}  

.facebook{
    padding-right: 65px;
}

.mail{
    padding-right: 65px;
}

/* #endregion */ 

/* #region Desktop design */


@media only screen and (min-width: 1000px) {

    header .header-brand{
        font-weight: 400;
        font-size: 30px;
        color: #111;
        text-align: left;
        padding-left: 140px;
    } 

    header nav{
        display: flex;
    } 

    header nav ul{
        float: right;
        list-style: none;
        
    }
    header nav ul li a{ 
        font-family: 'Open Sans';
        color: #232A2D;
        font-size: 14px;
        font-weight: 500; 
        text-decoration: none;
        display: inline;
    } 
    
    header nav ul li a:hover{
        border-bottom: 1px  #232A2D solid;
    }

    .per-banner{
        height: 800px;
    }
    
    .per-banner h1{
        font-size: 45px;
        font-weight: 500;
        padding-top: 250px;
        text-align: left;
        padding-left: 100px;
    } 
    
    .per-banner h2{
        font-size: 18px;
        text-align: left;
        padding-left: 100px;
    } 

    .banner-btn{
        display: block;
        width: 120px;
        height: 40px;
        border-radius: 5px;
        margin-left: 100px;
        margin-top: 40px;
        border:2px solid #315343;
        background-color: #315343;
        color: #EEF9FD;
    }

    .banner-btn:hover{
        background-color: #fff;
        color: #315343;
        border:3px solid #315343;
    }

    .banner-btn:active{
        transform: scale(1.1);
    }

    .mobil-menu{
        display: none;
    }

    .produkt-menu{
        width: 100%;
        height: 500px;
        display: flex;
        padding: 5% 0 0 19%;
        
    }

    .produkt1{
        padding-right: 10%;
    }

    .produkt2{
        padding-right: 10%;
    }

    .produkt-menu h2{
        font-family: 'Open Sans';
        font-size: 28px;
        font-weight: 400;
        color: #111;
        padding-bottom: 20px;
    }

    .produkt-menu h3{
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 400;
        color: #111;
        line-height: 23px;
        padding-bottom: 20px;
    }

    .produkt-btn{
        display: block;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Open Sans';
        border:3px solid #315343;
        background-color: #EEF9FD;
        color: #315343;
    }



    .til-webshop-btn{
        display: block;
        width: 300px;
        height: 45px;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Open Sans';
        border:3px solid #315343;
        background-color: #315343;
        color: #EEF9FD;
        
    }

    .webshop-btn{
        width: 100%;
        height: 100px;
        padding-left: 40%;
    }

    .historie-section{
        width: 100%;
        height: 300px;
        margin-top: 3%;
        
    }

    .historie-tekst{
        font-family: 'Open Sans';
        color: #111;
        text-align: left;
        float: right;
        padding-right: 5%;
    }

    .historie-tekst h2{
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .historie-tekst h3{
        font-size: 16px;
        font-weight: 400;
    }

    .historie-billede{
        padding: 2% 0 0 10%;
    }

    
    

    .udfordringer-section{
        width: 100%;
        height: 300px;
        margin-top: 3%;
        
    }

    .udfordringer-tekst{
        font-family: 'Open Sans';
        color: #111;
        text-align: left;
        float: left;
        padding-left: 10%;
    }

    .udfordringer-tekst h2{
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .udfordringer-tekst h3{
        font-size: 16px;
        font-weight: 400;
    }

    .udfordringer-billede{
        padding: 2% 0 0 22%;
        float: left;
    }
  


    .kursus-section{
        width: 100%;
        height: 350px;
        margin-top: 3%;
        
    }

    .kursus-tekst{
        font-family: 'Open Sans';
        color: #111;
        text-align: left;
        float: right;
        padding-right: 10%;
        padding-top: 5%;
    }

    .kursus-tekst h2{
        font-size: 22px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    .kursus-tekst h3{
        font-size: 16px;
        font-weight: 400;
    }

    .kursus-video{
        padding: 2% 0 0 10%;
    }



    .read-more-btn{
        display: inline-block;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Open Sans';
        border:3px solid #315343;
        background-color: #315343;
        color: #EEF9FD;
        margin-right: 5%;
    }

    .kontakt-btn{
        display: inline-block;
        width: 200px;
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Open Sans';
        border:3px solid #315343;
        background-color: #EEF9FD;
        color: #315343;
        
    }

    footer{
        width: 100%;
        height: 300px;
        background-color: #A16D4E;
    }

    .facebook, .mail, .youtube{
        display: none;
    }

    footer h2{
        font-family: 'Open Sans';
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        padding-bottom: 5%;
    }

    footer h3{
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 16px;
        color: #fff;
    }

    .footer1{
        width: 20%;
        float: left;
        display: inline-block;
        margin-left: 10%;
    }

    .footer2{
        width: 20%;
        display: inline-block;
        margin-left: 10%;
    }

    .footer3{
        width: 20%;
        float: right;
        display: inline-block;
        margin-right: 10%;
    }


}
/* #endregion */